{% extends 'account/profile.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}
    Пароль
{% endblock title %}
    

{% block section %}
    
<nav>
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <a class="nav-item nav-link " href="{% url 'account:profile' %}">Профиль</a>
        <a class="nav-item nav-link active" href="{% url 'account:password' %}">Пароль</a>
        <a class="nav-item nav-link" href="">Оплата</a>
    </div>
</nav>

<div class="tab-content col-md-6">
    {% if messages %}  <ul class="messages">    {% for message in messages %}      <li class="{{ message.tags }}">        {{ message|safe }}        <a href="#" class="close">x</a>      </li>    {% endfor %}  </ul> {% endif %}
    <form action="." method="POST" class="" id="password" role="tabpanel" aria-labelledby="password-tab">
    <h3 class="col-md-12 mb-4 mt-4 billing-heading">Смена пароля</h3>

    {{ form|crispy }}
    <input type="submit" class="btn btn-primary py-3 px-4" value="Сменить">

    {% csrf_token %}
</form>
</div>
{% endblock section %}


    