{% extends 'dress/base.html' %}
{% load static %}

{% block title %}
Кабинет
{% endblock title %}


{% block h1 %}
Кабинет
{% endblock h1 %}
    

{% block content %}


<section class="ftco-section pt-0">
    <div class="container">
        <div class="col-md-10 mx-auto mt-4">
            {% block section %}
            <nav>
                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                    <a class="nav-item nav-link active" href="{% url 'account:profile' %}">Профиль</a>
                    <a class="nav-item nav-link" href="">Пароль</a>
                    <a class="nav-item nav-link" href="">Оплата</a>
                </div>
            </nav>

            <div class="tab-content">

                <h3 class="col-md-12 ml-4 mb-4 mt-4 billing-heading">Детали</h3>
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Имя</label>
                        <input type="text" class="form-control" value="{{ request.user.first_name }}" readonly>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Фамилия</label>
                        <input type="text" class="form-control" value="{{ request.user.last_name }}" readonly>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Логин</label>
                        <input type="text" class="form-control" value="{{ request.user.username }}" readonly>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label>E-Mail</label>
                        <input type="text" class="form-control" value="{{ request.user.email}}" readonly>
                    </div>
                </div>
                <div class="cart-detail  text-center col-md-2">
                    <a class="btn btn-primary py-3 px-4" href="{% url 'account:logout' %}">Выход</a>
                </div>
            </div>

            {% endblock section %}
        </div>
    </div>
</section>


{% endblock content %}