{% extends 'dress/base.html' %}
{% load static %}


{% block title %}
Кабинет
{% endblock title %}



{% block content %}

<div class="hero-wrap hero-bread" style="background-image: url('/static/images/bg-list.jpg');">
    <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
            <div class="col-md-9 ftco-animate text-center">
                <h1 class="mb-0 bread">Кабинет</h1>
                <p class="breadcrumbs"><span class="mr-2"><a href="{% url 'dress:index' %}">Главная</a></span>
                </p>
            </div>
        </div>
    </div>
</div>

<section class="ftco-section pt-0">
    <div class="container">
        <div class="col-md-10 mx-auto mt-4">
            <nav>
                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                    <a class="nav-item nav-link active" id="profile-tab" data-toggle="tab" href="#profile" role="tab"
                        aria-controls="profile" aria-selected="true">Профиль</a>
                    <a class="nav-item nav-link" id="password-tab" data-toggle="tab" href="#password" role="tab"
                        aria-controls="password" aria-selected="false">Пароль</a>
                    <a class="nav-item nav-link" id="pay-tab" data-toggle="tab" href="#pay" role="tab"
                        aria-controls="pay" aria-selected="false">Оплата</a>
                </div>
            </nav>
            <div class="tab-content" id="nav-tabContent">
                <h3 class="col-md-12 mb-4 mt-4 billing-heading">Детали</h3>
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Имя</label>
                        <input type="text" class="form-control" value="{{ request.user.first_name }}" readonly>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Фамилия</label>
                        <input type="text" class="form-control" value="{{ request.user.last_name }}" readonly>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Логин</label>
                        <input type="text" class="form-control" value="{{ request.user.username }}" readonly>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label>E-Mail</label>
                        <input type="text" class="form-control" value="{{ request.user.email}}" readonly>
                    </div>
                </div>
                <div class="cart-detail  text-center col-md-6">
                    <a class="mt-6" href="{% url 'account:logout' %}">Выход</a>
                </div>
            </div>
            <div class="tab-pane fade" id="password" role="tabpanel" aria-labelledby="password-tab"></div>
            <div class="tab-pane fade" id="pay" role="tabpanel" aria-labelledby="pay-tab"></div>
        </div>
    </div>
</section>


{% endblock content %}