{% extends 'dress/base.html' %}
{% load static %}


{% block title %}
Блог
{% endblock title %}


{% block content %}

<div class="hero-wrap hero-bread" style="background-image: url('/static/images/bg-list.jpg');">
  <div class="container">
    <div class="row no-gutters slider-text align-items-center justify-content-center">
      <div class="col-md-9 ftco-animate text-center">
        <h1 class="mb-0 bread">Блог</h1>
        <p class="breadcrumbs"><span class="mr-2"><a href="{% url 'dress:index' %}">Главная</a></span>
      </div>
    </div>
  </div>
</div>

<section class="ftco-section">
  <div class="container">
    <div class="row d-flex">


      {% for post in post_page %}

      <div class="col-md-4 d-flex ftco-animate">
        <div class="blog-entry align-self-stretch">
          <a href="{{ post.get_absolute_url }}" class="block-20" style="background-image: url('{{ post.image.url }}');">
          </a>
          <div class="text mt-3 d-block pl-md-5">
            <h3 class="heading mt-3"><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h3>
            <div class="meta mb-3">
              <div><a href="#">{{ post.created|date:"N, j, Y" }}</a></div>
              <div><a href="#" class="meta-chat"><span class="icon-chat"></span> 3</a></div>
            </div>
          </div>
        </div>
      </div>

      {% endfor %}


    </div>
    <div class="row mt-5">
      <div class="col text-center">
        <div class="block-27 justify-content-center">
          {% load bootstrap4 %}
          {% bootstrap_pagination post_page %}
        </div>
      </div>
    </div>
  </div>
</section>


{% endblock content %}