{% extends 'dress/base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}
{{ post.title }}
{% endblock title %}


{% block content %}

<div class="hero-wrap hero-bread" style="background-image: url('/static/images/bg-list.jpg');">
  <div class="row no-gutters slider-text align-items-center justify-content-center p-4" style="background: #ffffff9d;">
    <div class="col-md-9 ftco-animate text-center">
      <h1 class="mb-0 bread">{{ post.title }}</h1>
      <p class="breadcrumbs"><span class="mr-2"><a href="{% url 'dress:index' %}">Главная</a></span> <span
          class="mr-2"><a href="{% url 'blog:blog_list' %}">Блог</a></span> <span>Статья</span></p>
    </div>
  </div>
</div>

<section class="ftco-section ftco-degree-bg">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 ftco-animate">

        {% for section in sections %}

        <h2 class="mb-3">{{ section.title }}</h2>
        <p>{{ section.body }}</p>
        <p><img src="{{ section.image.url }}" alt="{{ section.title }}" class="img-fluid">
        </p>
        {% endfor %}

        <div class="tag-widget post-tag-container mb-5 mt-5">
          <div class="tagcloud">
            <a href="#" class="tag-cloud-link">Life</a>
            <a href="#" class="tag-cloud-link">Sport</a>
            <a href="#" class="tag-cloud-link">Tech</a>
            <a href="#" class="tag-cloud-link">Travel</a>
          </div>
        </div>

        <div class="pt-5 mt-5">

          {% with comments.count as all_comments %}
          <h3 class="mb-5">{{ all_comments }} комментарий </h3>
          {% endwith %}


          <ul class="comment-list">

            {% for comment in comments %}

            <li class="comment">
              <div class="comment-body">
                <h3>{{ comment.name }}</h3>
                <div class="meta">{{ comment.created|date:"d/m/y" }}</div>
                <p>{{ comment.body }}</p>
                <p><a href="#" class="reply">Reply</a></p>
              </div>
            </li>

            {% endfor %}

          </ul>


          {% if request.user.is_authenticated %}
          <div class="comment-form-wrap pt-5 bg-light p-5">
            <h3 class="mb-5">Добавить комментарий</h3>
            <form action="." method="post">
              {{ comment_form|crispy }}
              {% csrf_token %}
              <div class="form-group">
                <input type="submit" value="Отправить" class="btn py-3 px-4 btn-primary">
              </div>
            </form>
          </div>

          {% else %}

          <div class="comment-form-wrap bg-light p-5">
            <p class="mb-0">Оставлять комментарии могут только зарегистрированные пользователи. <a
                href="{% url 'account:auth' %}">Войти?</a></p>
          </div>
          {% endif %}
        </div> <!-- .col-md-8 -->
      </div>

      <div class="col-lg-4 sidebar ftco-animate">
        <div class="sidebar-box ftco-animate">
          <h3>Tag Cloud</h3>
          <div class="tagcloud">
            <a href="#" class="tag-cloud-link">dish</a>
            <a href="#" class="tag-cloud-link">menu</a>
            <a href="#" class="tag-cloud-link">food</a>
            <a href="#" class="tag-cloud-link">sweet</a>
            <a href="#" class="tag-cloud-link">tasty</a>
            <a href="#" class="tag-cloud-link">delicious</a>
            <a href="#" class="tag-cloud-link">desserts</a>
            <a href="#" class="tag-cloud-link">drinks</a>
          </div>
        </div>

        <div class="sidebar-box ftco-animate">
          <h3>Paragraph</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus itaque, autem necessitatibus voluptate
            quod mollitia delectus aut, sunt placeat nam vero culpa sapiente consectetur similique, inventore eos
            fugit
            cupiditate numquam!</p>
        </div>

      </div>
    </div>
  </div>
</section> <!-- .section -->


{% endblock content %}