body {
    font-family: 'Major Mono Display', monospace;
    position: relative;
}

.grid {
    display: grid;
}

.main-header {
    min-height: 100vh;
    background-size: cover;
    background-position: center;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    min-height: 50px;
    width: 100vw;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 1;
}

 div a {
    text-decoration: none;
    text-transform: uppercase;
    color: black;
}

.navbar div {
    text-align: center;
    align-content: center;
    grid-column: 1fr;
}

.navbar div:nth-child(4) {
    grid-column-start: 6;
    grid-column-end: 7;
}

section {
    height: 100vh;
    background-color: #fff;
    grid-template-columns: repeat(5, 1fr);
}

.name_section {
    text-align: center;
    align-content: flex-end;
    padding-top: 40px;
    text-transform: uppercase;
}

.category {
    grid-template-rows: 30vh 50vh 20vh;
    padding: 0 50px;
    grid-gap: 50px;
}

.popular {
    grid-template-rows: 10vh 40vh 40vh 10vh;
}

.ctg {
    grid-column: 1fr;
    text-align: center;
    align-content: flex-end;
    width: 200px;
    height: 300px;
    background-size: cover;
    background-position: initial;
}

.name_ctg {
    height: 15px;
    background-color: #fff;
    color: black;
}

.ppl {
    border: 1px solid black;
    grid-column: 1fr;
    text-align: center;
    align-content: flex-end;
}

.ppl:nth-child(3n+2) {
    grid-column-start: 2;
}

section div:first-child {
    grid-column-start: 1;
    grid-column-end: 6;
}

.popular div:last-child {
    grid-column-start: 5;
    grid-column-end: 6;
    grid-row-start: 4;
    grid-column-end: 5;
}

.main-footer {
    height: 40vh;
    background-color: blue;
}

