{% extends "dress/base_0.html" %}
{% load crispy_forms_tags %}

{% block title %}Сброс пароля{% endblock %}

{% block content %}
{% if validlink %}
<form action="." method="post" class="col-md-6 m-5">
    {{ form|crispy}}
    {% csrf_token %}
    <input type="submit" class="btn btn-primary" value="Изменить пароль" />
</form>
{% else %}
<p>Ссылка для сброса пароля недействительна, возможно, потому что она уже использовалась.
    Пожалуйста, сделайте новый запрос для сброса пароля.</p>  {% endif %}
{% endblock %}