{% extends 'dress/base.html' %}
{% load static %}
{% load bootstrap4 %}


{% block title %}
    Оформление заказа
{% endblock title %}
    

{% block h1 %}
    Оформление заказа
{% endblock h1 %}


{% block content %}
<div class="container">
    <div class="col-md-12 mb-5 mx-auto row justify-content-around">
        <div class="col-md-4  mt-5">
        <div class="order-info">
        <h3>Ваш заказ</h3>
        <ul class="list-group">
            {% for item in cart %}
            <li class="list-group-item">
                {{ item.quantity }} x {{ item.product.title }}
                <span> {{ item.total_price }} BYN</span>
            </li>
            {% endfor %}
            <li class="list-group-item text-right">
                Всего: {{ cart.get_total_price }} BYN
            </li>
        </ul>
    </div>
</div>
    <div class="col-md-7  mt-5 p-4 bg-light">
        <form action="." method="POST" class="form-grop row">
            <div class="col-md-6 p-3">{{ form.first_name }}</div>
            <div class="col-md-6 p-3">{{ form.last_name }}</div>
            <div class="col-md-6 p-3">{{ form.email }}</div>
            <div class="col-md-6 p-3">{{ form.country }}</div>
            <div class="col-md-6 p-3">{{ form.city }}</div>
            <div class="col-md-6 p-3">{{ form.address }}</div>
            <div class="col-md-6 p-3">{{ form.postal_code }}</div>
            {% csrf_token %}
            <div class="col-md-6 p-3 mx-auto">
                <input type="submit" class="btn btn-primary py-3" value="Готово" style="width: 100%;">
            </div>
        </form>
    </div>
    </div>
</div>
{% endblock content %}