{% extends 'dress/base.html' %}
{% load static %}


{% block title %}

{% if category %}
{{ category.title }}
{% else %}
Каталог
{% endif %}

{% endblock %}


{% block content %}


<div class="hero-wrap hero-bread" style="background-image: url('/static/images/bg-list.jpg');">
	<div class="container">
		<div class="row no-gutters slider-text align-items-center justify-content-center">
			<div class="col-md-9 ftco-animate text-center">
				<h1 class="mb-0 bread">
					{% if category %}
					{{ category.title }}
					{% else %}
					Каталог
					{% endif %}
				</h1>
				<p class="breadcrumbs"><span class="mr-2"><a href="{% url 'dress:index' %}">Главная</a></span> <span
						class="mr-2"><a href="{% url 'dress:product_list' %}">Каталог</a></span> <span>Product
						Single</span></p>
			</div>
		</div>
	</div>
</div>

<section class="ftco-section bg-light">
	<div class="container-fluid">
		<div class="row">

			{% for i in product_page %}
			<div class="col-sm col-md-6 col-lg-3 ftco-animate">
				<div class="product">
					<a href="{{ i.get_absolute_url }}" class="img-prod"><img class="img-fluid" src="{{ i.image.url }}"
							alt="{{ i.title }}">
					</a>
					<div class="text py-3 px-3">
						<h3><a href="{{ i.get_absolute_url }}">{{ i.title }}</a></h3>
						<div class="d-flex">
							<div class="pricing">
								<p class="price"><span>{{ i.price }} BYN</span></p>
							</div>
						</div>
						<hr>
						<p class="bottom-area d-flex">
							<a href="#" class="add-to-cart"><span>Add to cart <i
										class="ion-ios-add ml-1"></i></span></a>
							<a href="#" class="ml-auto"><span><i class="ion-ios-heart-empty"></i></span></a>
						</p>
					</div>
				</div>
			</div>
			{% endfor %}
		</div>
		<div class="row mt-5">
			<div class="col text-center">
				<div class="block-27 justify-content-center">
					{% load bootstrap4 %}
					{% bootstrap_pagination product_page %}
				</div>
			</div>
		</div>
	</div>
</section>

{% endblock content %}