{% extends 'dress/base.html' %}
{% load static %}


{% block title %}
О нас
{% endblock title %}

{% block h1 %}
О нас
{% endblock h1 %}

{% block content %}

<section class="ftco-section ftco-no-pb ftco-no-pt mt-md-5">
  <div class="container">
    <div class="row">
      <div class="col-md-5 p-md-5 img img-2 d-flex justify-content-center align-items-center"
        style="background-image: url('/static/images/bg-11.jpg');">
      </div>
      <div class="col-md-7 py-5 wrap-about pb-md-5 ftco-animate">
        <div class="heading-section-bold mb-5 mt-md-5">
          <div class="ml-md-0">
            <h2 class="mb-4" style="color: rgb(201, 117, 38)">MARZIPAN<br></h2>
            <h2 class="mb-4">онлайн-магазин одежды</h2>
          </div>
        </div>
        <div class="pb-md-5">
          <p>Безукоризненное качество материалов, малотиражность, удобство и комфорт — главные ценности бренда MARZIPAN.
            А каждое изделие и есть та недостающая соль, которая делает образ «вкуснее». Дизайнеры шьют одежду
            для себя и лучшим делятся с клиентами, добавляя к этому любовь и тепло. Все коллекции бренда объединяет
            элегантная женственность, необычный крой и гармоничное сочетание трендов с великой классикой. Видно,
            что за каждой деталью стоит большая работа профессионалов и полная отдача любимому делу!</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="ftco-section ftco-services">
  <div class="container">
    <div class="row justify-content-center mb-3 pb-3">
      <div class="col-md-12 heading-section text-center ftco-animate">
        <h1 class="big">Наш сервис</h1>
        <h2>Наши преимущества</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 text-center d-flex align-self-stretch ftco-animate">
        <div class="media block-6 services">
          <div class="icon d-flex justify-content-center align-items-center mb-4">
            <span class="flaticon-002-recommended"></span>
          </div>
          <div class="media-body">
            <h3 class="heading">Качество товара</h3>
            <p>Только лучшие материалы</p>
          </div>
        </div>
      </div>
      <div class="col-md-4 text-center d-flex align-self-stretch ftco-animate">
        <div class="media block-6 services">
          <div class="icon d-flex justify-content-center align-items-center mb-4">
            <span class="flaticon-001-box"></span>
          </div>
          <div class="media-body">
            <h3 class="heading">Низкие цены</h3>
            <p>Самые низкие цены</p>
          </div>
        </div>
      </div>
      <div class="col-md-4 text-center d-flex align-self-stretch ftco-animate">
        <div class="media block-6 services">
          <div class="icon d-flex justify-content-center align-items-center mb-4">
            <span class="flaticon-003-medal"></span>
          </div>
          <div class="media-body">
            <h3 class="heading">Быстрая доставка</h3>
            <p>Доставка в любую точку мира</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


{% endblock content %}